.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #b8b3b3;
  color: #1161f8;
  padding: 15px 30px;
}
.logoimg{
  height: 50px;
}


.navlinks {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navlinks li a {
  text-decoration: none;
  color: #1161f8;
  transform: scale(1.05);
}
.navlinks li :hover {
   transform: scale(1.05);
}

.menuBtn {
  background: none;
  border: none;
  color: #1161f8;
  font-size: 1.8rem;
  cursor: pointer;
  display: none; /* só aparece em mobile */
}
.menuBtn :hover {
  transform: scale(1.05);
 
}

/* Sidebar escondida */
.sidebar {
  position: fixed;
  top: 70px;
  right: -100%; /* escondido fora da tela */
  width: 50%;
  height: 100%;
  background-color:rgba(255, 255, 255,0.15);
  backdrop-filter: blur(15px);
  transition: right 0.3s ease;
  padding-top: 60px;
  text-align: center;
}

.sideBtn {
  background-color: #b8b3b3;
  color: #111;
  border: none;
  padding: 5px 50px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.sideBtn:hover {
  background-color: #042869;
   transform: scale(1.05);
}

.ressalv{
   background: #b8b3b3;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 20px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #1161f8;
  font-size: 1.2rem;
}

/* Sidebar visível */
.show {
  right: 0;
}

/* Responsivo */
@media (max-width: 768px) {
  .navlinks {
    display: none; /* esconde links no mobile */
  }
  .menuBtn {
    display: block; /* mostra botão no mobile */
  }
  .logoimg{
  height: 30px;
}
}
